
 
<h2> Here are your students, <%= current_user.name.split(" ").first.capitalize %></h2>
<p>
<% current_user.students.sort_by{|student| student.name}.each do |s| %>
  <div>
    <a href="/students/<%= s.slug %>/reviews"><%= s.name %></a> 
  </div>
<% end %><br>
<a href="/account">Go Home</a><br>
</p>

