<h2> Here are your students, <%= current_user.name.split(" ").first.capitalize %></h2>
<p> 
<% current_user.students.sort_by{|student| student.name}.each do |s| %>
 

  <p> 
    <%= s.name %>
  </p>
<% end %>
<br>
<form action='/individual_reviews' method=POST>
  <label for="student_name">Enter Student Name:</label><br>
  <input type="text" id="student_name" name="student_name"><br><br>
  <input type="submit" value="Submit">
</form>
 
  

