<h2>Welcome to Your Teacher Account Page, <%=current_user.name.split(" ").first.capitalize%>.</h2>

<a href="/students"> View All Students </a><br>
<a href="/classes"> View My Classes </a><br>
<a href="/reviews"> View All Reviews </a><br>
<p>Create A Student</p>
<p>Create a Class</p>
<p></p>
<p></p>