<h2> Edit Review Page </h2>

<h4> What is the Review ID of the Review you would like to edit? </h4>
<form action="/reviews" method="POST">
  <p>Review ID: <input type="text" name="review_id"></p>
  <p>Updated Review: <input type="text" name="updated_content"></p>
  <input class="btn btn-primary" type="submit" value="submit"><br>
</form>
<br>

<% current_user.reviews.each do |r| %>
    <br>
    <li> <%= r.content %> </li>
    <li> Student: <%= r.student.name %></li> 
    <li> Review ID: <%= r.id %> </li> <br>
<% end %>
