<h2> Edit Review Page </h2>


<br>

<% current_user.reviews.each do |r| %>
    <br>
    <li> <%= r.content %> </li>
    <b><li> Student: </b><%= r.student.name %></li>
    <b><a href="/reviews/edit/<%= r.id %>">Edit</a></b>
    <b><a href="/reviews/edit/<%= r.id %>/delete">Delete</a></b><br>
<% end %>
