
<h2> Notes about <%= @student.name %> </h2>


    <% if @student.reviews.empty? %>
        <h4> This student does not have any reviews </h4>
    <% else %>
        <ul>
        <% @student.reviews.each do |r| %>
                <li> <%= r.content %> </li> <br>
        <% end %>
        </ul>
    <% end %>
