
<h2> Notes about <%= @student.name %> </h2>

<p>
    <% if @student.reviews.empty? %>
        This student does not have any reviews
    <% else %>
        <% @student.reviews.each do |r| %>
            <%= r.content %><br>
        <% end %>
    <% end %>
</p>