<h2>New Review</h2>
<form action="/reviews" method="POST">
  <p>Review: <input type="text" name="content"></p>
  <p>Student's Name: <input type="text" name="student_name"></p>
  <input class="btn btn-primary" type="submit" value="submit"><br>
</form>





<a href="/account">Go Home</a><br>

