<h2>Main Page w All Reviews(of relevant students)</h2>



<% revs = Review.all.sort_by{|review| review.created_at}.reverse  %>
<% revs.each do |r| %>
    <% if current_user.students.include?(r.student) %>
        <li> <%= r.content %> </li>
        <li><b> Educator: </b><%= r.teacher.name %></li>
        <li><b> Student: </b><%= r.student.name %></li> <br>
    <% else %>
        <br>
    <% end %>
<% end %><br>
<br>
<a href="/account">Go Home</a><br>


