<h2>Welcome to the Homepage for <%= @klass.name %>!</h2>

<h4> <%= @klass.teacher.name %>'s Students: </h4>

<% @klass.student.each do |s| %>
    <p>
        <div>
            <a href="/students/<%= s.slug %>/reviews"><%= s.name %></a> 
        </div>
    </p>
<% end %>

