<h2> Here are your classes, <%= current_user.name.split(" ").first.capitalize %></h2>
<p>
<% current_user.klasses.each do |k| %>
  <div>
    <a href="/classroom/<%= k.slug %>"><%= k.name %></a> 
  </div>
<% end %><br>
<a href="/account">Go Home</a><br>
</p>




